{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'all_books/main.css' %}">
    {% if title %}
        <title>L.M.S. | {{title}}</title>
    {% else %}
        <title>Django | L.M.S.</title>
    {% endif %}</head>
<body>

<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/" style="color:Lightblue">HOME PAGE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
              {% if user.is_authenticated %}
                  {% if user.profile.librarian %}
                    <a class="nav-item nav-link" href="/librarian_home">Controls</a>
                  {% else %}
                    <a class="nav-item nav-link" href="/all_books">Catalogue</a>
                  {% endif %}
              {% endif %}
            <a class="nav-item nav-link" href="/all_books/about">About</a>
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
            {% if user.is_authenticated %}
            <form method="get" class="nav-item nav-link" action="/all_books/search/">
                <input type="search" placeholder="Search Here" name="query" id="query">
                <button class="btn-outline-success" type="submit">GO</button>
            </form>
                {% if not user.profile.librarian %}
                    <a class="nav-item nav-link" href="{% url 'issue_requests_student' %}">Requests</a>
                {% endif %}
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                {% if not user.profile.librarian %}
                    <a class="nav-item nav-link" href="{% url 'student_profile' %}">Profile</a>
                {% endif %}
                {% if user.profile.librarian %}
                    <a class="nav-item nav-link" href="{% url 'librarian_profile' %}">Profile</a>
                {% endif %}
            {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>

{% if messages %}
    {% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}

<main role="main" class="container">
  <div class="row">
    <div class="col-md-12">
      {% block content %} {% endblock content %}
    </div>
  </div>
</main>

</body>
</html>