{% extends "all_books/base.html" %}
{% block content %}

<main role="main" class="container">
        {% if user.is_authenticated %}
            {% if user.profile.librarian %}
                <a href="{% url 'librarian_home' %}">you are already logged in, click to continue to main page</a>
            {% else %}
                <a href="{% url 'all_books_home' %}">you are already logged in, click to continue to main page</a>
            {% endif %}
        {%else%}
            <a href="{% url 'login'%}">would you like to log in and continue to main page</a>
                <br>
            <a href="{% url 'all_books_home'%}">would you like to continue to main page without a login</a>
        {%endif%}
</main>

{% endblock content %}