{% extends "all_books/base.html" %}
{% block content %}

<div class="col-md-15">
    <h5>
    {% if user.is_authenticated %}
        {% if user.profile.librarian %}
            you are already logged in, <a href="{% url 'librarian_controls' %}">click here</a> to continue to main page
        {% else %}
            you are already logged in, <a href="{% url 'all_books_home' %}">click here</a> to continue to main page
        {% endif %}
    {%else%}
        <a href="{% url 'login'%}">would you like to log in and continue to main page</a>
            <br>
        <a href="{% url 'all_books_home'%}">would you like to continue to main page without a login</a>
    {%endif%}
    </h5>
<br><br><hr><br>
</div>

{% if user.is_authenticated %}

<div class="content-section">
<h3>Latest Arrivals</h3>
<p class='text-muted'> >all new arrivals in the library
  <ul class="list-group">
    {% for arrival in new_arrivals %}
        <li class="list-group-item list-group-item-light"><a href="{% url 'book_detail' arrival.id %}">{{arrival.title}}</a></li>
    {% endfor %}
  </ul>
</p>
</div>

<div class="content-section">
<h3>Trending</h3>
<p class='text-muted'> >books most people have recently issued
  <ul class="list-group">
  {% for book in trending_issues %}
    <li class="list-group-item list-group-item-light"><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a> </li>
  {% endfor %}
  </ul>
</p>
</div>

{% endif %}
{% endblock content %}