{% extends "all_books/base.html" %}
{%block content%}
home page for books, library
{% for book in books %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">author: {{ book.author }}</a>
      <small class="text-muted">publisher: {{ book.publisher }}</small>
      <small class="text-muted">ISBN: {{ book.ISBN }}</small>
    </div>
    <h2><a class="article-title" href="#">title: {{ book.title }}</a></h2>
    <p class="article-content">summary: {{ book.summary }}</p>
  </div>
</article>
{% endfor %}
{%endblock content%}


