{% extends "all_books/base.html" %}
     {%block content%}{% if user.is_authenticated %}


<h2>Requests made by You</h2>

<br><h4>Issued</h4> <br>
<div class="row">
{% for issue_request in issued_requests %}
<div class="col-md-3">
  <ul class="list-group">
      <article class="full content-section">
          <div>book: {{ issue_request.book }}</div>
          <li class="list-group-item list-group-item-light">Approved</li>
          return date: {{ issue_request.return_on }}
          <br>
          <a href="{% url 'return_book' issue_request.id %}">
            return
          </a>
          <b> | </b>
          <a href="{% url 'renew_book' issue_request.id %}">
            renew
          </a>
    </article>
  </ul>
    </div>
{% endfor %}
</div>

<br><br><h4>Pending</h4> <br>
<div class="row">
{% for issue_request in pending_requests %}
<div class="col-md-3">
    <ul class="list-group">
      <article class="full content-section">
          <div>book: {{ issue_request.book }}</div>
    <li class="list-group-item list-group-item-light">Pending</li>
      <a href="{% url 'delete_my_request' issue_request.id %}">Delete</a>
      </article>
  </ul>
</div>
{% endfor %}
</div>

<br><br><h4>Pending (Renewal)</h4> <br>
<div class="row">
{% for issue_request in renewed_requests %}
<div class="col-md-3">
    <ul class="list-group">
      <article class="full content-section">
          <div>book: {{ issue_request.book }}</div>
    <li class="list-group-item list-group-item-light">Pending</li>
      </article>
  </ul>
</div>
{% endfor %}
</div>

<br><br><h4>Rejected</h4> <br>
<div class="row">
{% for issue_request in rejected_requests %}
<div class="col-md-3">
<ul class="list-group">
<article class="full content-section">
<div>book: {{ issue_request.book }}</div>
rejected with note: <br>
<li class="list-group-item list-group-item-light">{{ issue_request.reject_request }}</li><br>
<div>was requested on: {{ issue_request.requested_on }}</div>
</article>
</ul>
</div>
{%endfor%}
</div>

<br><br><h4>Returned</h4> <br>
<div class="row">
{% for issue_request in returned_requests %}
<div class="col-md-4">
<ul class="list-group">
<article class="full content-section">
<div>book: {{ issue_request.book }}</div>
<div>Was issued on: {{ issue_request.issued_on }}</div>
<div>Was Requested until: {{ issue_request.return_on }}</div>
{% if not issue_request.renewed_on <= issue_request.issued_on %}
    <div>Was also Renewed on: {{ issue_request.renewed_on }}</div>
{%endif%}
<div>Was Returned on: {{ issue_request.returned_on }}</div>
{% if issue_request.score %}
    <div>Scored: {{ issue_request.score }} out of 100</div>
{% else %}
<div>Not Yet Scored</div>
    {% endif %}
{% if issue_request.rating != 0 %}
    <div>Rating: {{ issue_request.rating }} out of 5</div>
{% else %}
<div>Not Yet Rated</div>
    {% endif %}
{% if issue_request.review %}
    <div>Review: {{ issue_request.review }}</div>
{% else %}
<div>Not Yet reviewed</div>
    {% endif %}
</article>
</ul>
</div>
{%endfor%}

</div>

{% else %}
    PLEASE LOG IN TO CONTINUE
{% endif %}{% endblock content %}