{% extends "all_books/base.html" %}


{%block content%}{% if user.is_authenticated %}
<br>
<h4>home page for books, library</h4>
<br>
<a href="{% url 'add_book' %}" > ADD BOOK </a>
<br>
<a href="{% url 'all_books_home' %}" > VIEW ALL BOOKS</a>
<br>
<br>
<hr>
<h4>New Requests</h4>
{% for issue_request in all_issue_requests %}
{% if issue_request.issue_request_status == 'pending' %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <p>book name: {{ issue_request.isbn_of_book }}</p>
      <p>student name: {{ issue_request.student }}</p>
    </div>
    <a href="{% url 'librarian_home_2' issue_request.id %}" >
    <p class="article-content">return date: {{ issue_request.return_on }}</p>
  </a>
  </div>
</article>
{% endif %}
{% endfor %}
<br><hr>
<h4>Renewal Requests</h4>
{% for issue_request in all_issue_requests %}
{% if issue_request.issue_request_status == 'renewed' %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <p>book name: {{ issue_request.isbn_of_book }}</p>
      <p>student name: {{ issue_request.student }}</p>
    </div>
    <a href="{% url 'librarian_home_2' issue_request.id %}" >
    <p class="article-content">return date: {{ issue_request.return_on }}</p>
  </a>
  </div>
</article>
{% endif %}
{% endfor %}
<br><hr>
<h4>Returned Books (to be scored)</h4>
{% for issue_request in all_issue_requests %}
{% if issue_request.issue_request_status == 'returned' %}
{% if issue_request.score is None %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <p>book name: {{ issue_request.isbn_of_book }}</p>
      <p>student name: {{ issue_request.student }}</p>
    </div>
    <a href="{% url 'score_return' issue_request.id %}" >
    <p class="article-content">returned on date: {{ issue_request.returned_on }}</p>
  </a>
  </div>
</article>
{% endif %}
{% endif %}
{% endfor %}



{% else %}
PLEASE LOG IN TO CONTINUE
{% endif %}{%endblock content%}