{% extends "all_books/base.html" %}

{%block content%}{% if user.profile.librarian %}
<br>
<h4>home page for books, library</h4>
<br>
<div class="row">
  <div class="col-md-2">
  <a class="btn btn-outline-info" href="{% url 'add_book' %}" > ADD BOOK </a>
    </div><div class="col-md-2">
  <a class="btn btn-outline-info" href="{% url 'all_books_home' %}">VIEW/UPDATE/DELETE BOOK</a>
  </div><div class="col-md-2">
  </div><div class="col-md-2">
  <a class="btn btn-outline-info" href="{% url 'all_genre' %}">VIEW/ADD/DELETE GENRE</a>
  </div>
</div>
<br>
<hr>
<h4>New Requests</h4>
{% for issue_request in pending_requests %}
<a href="{% url 'request_decision' issue_request.id %}" >
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <p>book name: {{ issue_request.book }}</p>
      <p>student name: {{ issue_request.student.profile.bits_id }}</p>
      <p>student name: {{ issue_request.student }}</p>
    </div>
    <p class="article-content">return date: {{ issue_request.return_on }}</p>
  </div>
</article>
</a>
{% endfor %}
<br><hr>
<h4>Renewal Requests</h4>
{% for issue_request in renewed_requests %}
<a href="{% url 'request_decision' issue_request.id %}" >
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <p>book name: {{ issue_request.book }}</p>
      <p>student name: {{ issue_request.student.profile.bits_id }}</p>
      <p>student name: {{ issue_request.student }}</p>
    </div>
    <p class="article-content">return date: {{ issue_request.return_on }}</p>
  </div>
</article>
</a>
{% endfor %}
<br><hr>
<h4>Returned Books (to be scored)</h4>
{% for issue_request in returned_requests %}
{% if issue_request.score == 0 %}
<a href="{% url 'score_return' issue_request.id %}" >
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <p>book name: {{ issue_request.book }}</p>
      <p>student name: {{ issue_request.student.profile.bits_id }}</p>
      <p>student name: {{ issue_request.student }}</p>
    </div>
    <p class="article-content">returned on date: {{ issue_request.returned_on }}</p>
    </div>
  </article>
</a>
{% endif %}
{% endfor %}



{% else %}
PLEASE LOG IN TO CONTINUE
{% endif %}{%endblock content%}