{% extends "all_books/base.html" %}


{%block content%} {% if user.is_authenticated %}
{% load crispy_forms_tags %}

<h5>{provide reject reason if rejecting, otherwise leave blank} </h5>
<br>
<br>

{{ object.isbn_of_book }}, {{ object.isbn_of_book.quantity }} copies left
<br>
requested by: {{ object.student }}
<br>
requested till: {{ object.return_on }} <br>
    {% if object.issue_request_status == "renewed" %}
        was previously issued on {{ object.issued_on }}
    {% elif object.issue_request_status == 'pending' %}
        new request/not renew request <br>
    {% endif %}


<br>
<br>
<form method="post">
    {% csrf_token %}
    {{form|crispy}}
<input class="btn btn-outline-info" type="submit" value="Confirm">
</form>

{% else %}
    PLEASE LOG IN TO CONTINUE
{% endif %}{%endblock content%}