{% extends "all_books/base.html" %}


{%block content%} {% if user.is_authenticated %}
{% load crispy_forms_tags %}

<h5>{provide reject reason if rejecting, otherwise leave blank} </h5>
<br>
<br>

{{ object.isbn_of_book }}, {{ object.isbn_of_book.quantity }} copies left
<br>
requested by: {{ object.student.username }}, current merit score: {{object.student.profile.merit_score}}
<br>
requested till: {{ object.return_on }} <br>
    {% if object.issue_request_status == "renewed" %}
        was previously issued on {{ object.issued_on }} <br>
    {% elif object.issue_request_status == 'pending' %}
        new request/not renew request <br>
    {% endif %}

{% if studiss != 0 %}
<div class="alert alert-danger alert-dismissible fade show">
    student already has {{ studiss }} copy/copies of this book currently issued <br>
</div>
{% endif %}

<br>
<br>
{% if object.issue_request_status == "renewed" %}
    <form method="post">
        {% csrf_token %}
        {{r_form|crispy}}
            <input class="btn btn-outline-info" type="submit" value="Confirm">
    </form>
    {% elif object.issue_request_status == 'pending' %}
    <form method="post">
        {% csrf_token %}
        {{i_form|crispy}}
            <input class="btn btn-outline-info" type="submit" value="Confirm">
    </form>
{% endif %}

{% else %}
    PLEASE LOG IN TO CONTINUE
{% endif %}{%endblock content%}