{% extends "all_books/base.html" %}
{%block content%}{% if user.is_authenticated %}
{% load crispy_forms_tags %}

<main role="main" class="container">

<h3>Search in LMS Database</h3>
<form method="GET" action="/all_books/more_search/">
  <input class="form-control py-2" type="search" name="title" id="title" placeholder="Title contains..." default=""/>
    <br>
  <input class="form-control py-2" type="search" name="isbn" placeholder="ISBN is ..." />
    <br>
  <input class="form-control py-2" type="search" name="author" placeholder="Author contains..." />
    <br>
  <input class="form-control py-2" type="search" name="summary" placeholder="The book's summary for sure contained the words..." />
    <small class="text-muted">(use only if sure)</small>
    <br>
    <br>
  <div class="form-row">
    <div class="form-group col-md-2 col-lg-2">
      <label for="ddate_min">Display date minimum</label>
      <input type="date" class="form-control" id="ddate_min" name="ddate_min">
    </div>
    <div class="form-group col-md-2 col-lg-2">
      <label for="ddate_max">Display date maximum</label>
      <input type="date" class="form-control" id="ddate_max" name="ddate_max">
    </div>
    <div class="form-group col-md-2 col-lg-2">
      <label for="pdate_min">Publish date minimum</label>
      <input type="date" class="form-control" id="pdate_min" name="pdate_min">
    </div>
    <div class="form-group col-md-2 col-lg-2">
      <label for="pdate_max">Display date maximum</label>
      <input type="date" class="form-control" id="pdate_max" name="pdate_max">
    </div>
    <div class="form-group col-md-4">
      <label for="genre">Genre</label>
      <select id="genre" class="form-control" name="genre">
        <option value="">Choose</option>
        {% for g in genre %}
        <option value="{{ g }}">{{ g }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <div class="form-check">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="available" name="available">
        <label class="form-check-label" for="available">
          Available for Issue
        </label>
      </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="notavailable" name="notavailable">
        <label class="form-check-label" for="notavailable">
          Not Available
        </label>
      </div>
      </div>
    </div>
  </div>
  <div class="form-row">
  <div class="form-group">
    <div class="form-check">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="descorder" name="descorder">
      <label class="form-check-label" for="descorder">
        Descending order of publishing date
      </label>
    </div>
    </div>
  </div>
    <div class="form-group">
      <div class="form-check">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="ascorder" name="ascorder">
        <label class="form-check-label" for="ascorder">
          Ascending order of publishing date
        </label>
      </div>
      </div>
    </div>
  </div>
  <div class="form-row">
  <div class="col-md-3">
  <button type="submit" class="btn btn-outline-info">Search</button> </div><div class="col-md-3">
  </div></div>
</form>

  <hr>
<h5>Results:</h5>
<div class="col-md-16">
  <div class='row'>
      {% for book in queryset %}
      <ul>
        <article class="media content-section">
          <div class="media-body">

          <h6> <a href="{% url 'book_detail' book.id %}">
            {{ book.title }}
          </a> </h6>
          <span>Author: {{ book.author }}</span> <br>
          <span>Quantity: {{ book.quantity }}</span>

          </div>
        </article></ul>
      {% endfor %}
  </div>
</div>

</main>

{% else %}
PLEASE LOG IN TO CONTINUE
{% endif %}{%endblock content%}