{% extends "all_books/base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">login page for the lms</legend>
        {{ form|crispy }}
    </fieldset>
    <button class="btn btn-outline-info" type="submit">login to the app</button>
</form>
<br>

<a  class="btn btn-outline-info" href="{% provider_login_url 'google' %}">Login for students(google)</a>
<br>
<h6>if you want to register as librarian, mail at "f20212427@pilani.bits-pilani.ac.in"</h6>
{% endblock content %}
