{% extends "all_books/base.html" %}
{% load crispy_forms_tags %}
{%block content%}
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ user.socialaccount_set.all.0.get_avatar_url }}">
    <div class="media-body">
      <h2 class="account-heading">{{user.username}}</h2>
      <p class="text-secondary">Email: {{user.email}}</p>
      <p class="text-secondary">BITS ID: {{user.profile.BITSID}}</p>
      <p class="text-secondary">Hostel: {{user.profile.hostel}}</p>
      <p class="text-secondary">Room Number: {{user.profile.room_no}}</p>
      <p class="text-secondary">mobile number: {{user.profile.mobile_num}}</p>
      <p class="text-secondary">all time number of books issued: {{user.profile.total_issues}}</p>
      <p class="text-secondary">merit score: {{user.profile.merit_score}}</p>
    </div>
  </div>

  <hr>
<br>
  <form method="post">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Update Profile Info</legend>
        {{ p_form|crispy }}
    </fieldset>
    <button class="btn btn-outline-info" type="submit">Update</button>
</form>

</div>
{% endblock content%}

